* { -webkit-box-sizing: border-box; 
	   -moz-box-sizing: border-box;	
			box-sizing: border-box; }

html {
	background: rgb(50, 45, 40) url("img/background/stars.jpg") no-repeat center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#form {
	box-shadow: .1rem .1rem .3em 0 #000;
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
	max-width: 40rem; 
	margin: 40px auto;
}

#form-title {
	text-align: center;
}

#form-title img {
	display: inline-block;
	width: 15rem;
}

#form-title span {
	display: inline-block;
	font-size: 2.5rem;
	font-weight: 100;
	transform: translate(0, -1rem);
	width: 23rem;
}

select {
	color: #000;
}

@media (min-width: 35em) {
	#form-title, #form-title span {
		text-align: left;
	}
}